.projects-wrapper {
  margin-left: 5px;
  width: 100%;
}

.project-index-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px;
  padding: 0 60px;
  margin: 0 auto;
}

.project-index-item-container {
  flex-flow: flex-start;
  margin-top: 30px;
  margin-right: 25px;
  width: 305px;
  a {
    background-color: #000066;
  }
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.project-index-item-link {
  width: 304px;
  height: 255px;
}

.project-index-item-info {
  padding: 15px;
}

.project-index-item-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
}

.project-index-item-author {
  font-size: 14px;
}
