.nav-bar{
  padding: 30px;
  height: 78px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Rubik', sans-serif;
  background-color: #EEEEEE;
  align-items: center;
  h1 {
    color: #000080;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: #545454;
  }
}

.nav-bar-home-link {
  margin-right: 40px;
}

.nav-bar-logo {
  img {
    width: 90px;
    height: 70px;
  }

  display: flex;

  h1 {
    margin: auto;
  }

}

.nav-bar-search {
  margin-right: 15px;

}

.nav-bar-search-text {
  width: 80%;
  padding: 6px 6px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #ccc;
  font-size: 16px;
  &:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  }
}

.nav-bar-search-button {
  display: none;
}

.nav-bar-create-button {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #cccccc;
  cursor: pointer;
  padding: 7px 12px;
  font-size: 14px;
  &:hover {
    background-color: #d9d9d9;
  }
  a{
    color: #000080;
  }
  &:focus{
    outline: none;
  }
}

.nav-pipe {
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
}

.dropdown-btn {
  align-items: center;
  display: flex;
  img{
    width: 20px;
    height: 20px;
    margin: 2px;
  }
  span{
    margin: auto;
    font-size: 14px;
  }
  &:hover {
    cursor: pointer;
  }
}


.nav-bar-session{
  margin-left: auto;
}

.dropdown-menu {
  padding: 20px;
  position: fixed;
  right: 28px;
  width: 250px;
  background-color: white;
  z-index: 3;
  border-radius: 5px;
  min-height: 100px;
  li {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.show-logout-section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-user-circle {
  position: relative;
  top: 4px;
  padding-right: 7px;
}

.user-show-link-nav {
  width: 150px;
  padding: 9px 0;
  position: relative;
  top: 4px;
  color: #777;
  &:hover {
    color: #333;
  }
}

.logout-btn-nav {
  width: 92px;
  padding: 8px 12px;
  background-color: #f6f6f6;
  border-color: #dedede;
  color: #333;
  border-radius: 4px;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    background-color: #EEEEEE;
  }
}

.nav-dropdown-divider {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 0.5px solid #ddd;
  position: relative;
  top: 10px;
  right: 20px;
  width: 116%;
}

.create-btn-nav-container {
  display: flex;
}

.create-project-button-nav {
  position: relative;
  top: 25px;
  margin: 0 auto;
  background-color: #4165A5;
  border-radius: 5px;
  height: 44px;
  border: none;
  font-size: 20px;
  line-height: 5px;
  color: white;
  width: 256px;
  &:hover {
    cursor: pointer;
    background-color: #3a5a92;
  }
}
