.project-form-wrapper{
  background-color: #BFBFBF;
  padding-top: 40px;
}
.project-form-container {
  width: 1016px;
  margin: 0 auto;
  border: 1px solid rgba(119,130,135,.4);
  border-radius: 10px;
}

.project-form-navbar {
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding-bottom: 10px;
}


.project-form-navbar-attachment {
  height: 137px;
  text-align: center;
  border: 1px solid #dedede;
  width: 98%;
  margin: 10px;
  cursor: pointer;
  background-color: #eee;
  color: #AAA;
  font-size: 20px;
  box-shadow: inset 0 0 3px 3px #dfdfdf;
  border-radius: 10px;
  &:focus{
    outline: none;
  }
}

.project-form-navbar-fixed {
  position: sticky;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.plus-icon{
  font-size: 40px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.project-form-navbar-buttons-menu {
  height: 35px;
  justify-content: space-between;
  display: flex;
  margin: 0px 13px;
}

.caret {
  margin-top: 7px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.project-form-navbar-button {
  border-radius: 4px;
  padding: 0px 15px;
  font-size: 14px;
  &:focus {
    outline: none;
  }
  &:hover{
    cursor: pointer;
  }
}

.submit {
  background-color: #4165A5;
  color: white;
  &:hover{
    background-color: #3a5a92;
  }
}

.add {
  background-color: transparent;
  border: 1px solid #cccccc;
  &:hover {
    background-color: #EEEEEE;
  }
}

.project-form-body {
  background-color: white;
  min-height: 500px;
}
