.faded-background {
  z-index: 5;
  position: fixed;
  background: black;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.project-form-wrapper{
  background-color: #D3E1E7;
  padding: 40px 0;
  min-height: 545px;
}

.project-form-container {
  width: 1016px;
  margin: 0 auto;
  border: 1px solid rgba(119,130,135,.4);
  border-radius: 10px;
  background-color: white;
}

.project-form-navbar {
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding-top: 1px;
}

.project-form-navbar-attachment {
  height: 137px;
  text-align: center;
  border: 1px solid #dedede;
  width: 98%;
  margin: 10px;
  background-color: #eee;
  color: #AAA;
  font-size: 20px;
  box-shadow: inset 0 0 3px 3px #dfdfdf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &:focus{
    outline: none;
  }
  input {
    padding: 60px 290px;
    font-size: 20px;
    align-self: center;
    z-index: 2;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}

.main-image-attachment {
  min-width: 100px;
  min-height: 100px;
  max-width: 120px;
  max-height: 120px;
  align-self: center;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  position: relative;
  right: 550px;
}

.main-image-attachment-container {
  flex-direction: column;
  justify-content: space-evenly;
}

.project-form-navbar-fixed {
  position: sticky;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.dropdown-list-add {
  width: 130px;
  position: relative;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px;
  li {
    border: none;
    padding-left: 10px;
    &:focus{
      outline: none;
    }
    &:hover {
      background-color: #F4F9FB;
      cursor: pointer;
    }
  }
  input{
    z-index: 2;
    opacity: 0;
    max-width: 130px ;
    position: relative;
    bottom: 19px;
    right: 10px;
    &:hover {
      background-color: #F4F9FB;
      cursor: pointer;
    }

  }

  form {
    height: 13px;
    position: relative;
    top: 5px;
  }
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.drop-list-add-steps {
  padding: 5px;

  &:hover {
    background-color: #F4F9FB;
    cursor: pointer;
  }
}

.drop-list-add-photos {
  position: relative;
  bottom: 4px;
  padding: 4px 0 4px 0;
}

.plus-icon{
  font-size: 40px;
  font-weight: bold;
  position: relative;
  right: 748px;
  min-width: 500px;
}

.project-form-navbar-buttons-menu {
  height: 35px;
  justify-content: space-between;
  display: flex;
  margin: 0px 13px;
}

.caret {
  margin-top: 7px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.project-form-navbar-button {
  border-radius: 4px;
  padding: 0px 15px;
  font-size: 14px;
  &:focus {
    outline: none;
  }
  &:hover{
    cursor: pointer;
  }
}

.submit {
  background-color: #4165A5;
  color: white;
  &:hover{
    background-color: #3a5a92;
  }
}

.add {
  background-color: transparent;
  border: 1px solid #cccccc;
  padding: 9px 17px;
  &:hover {
    background-color: #EEEEEE;
  }
}

.project-form-body {
  background-color: white;
  min-height: 237px;
}

.project-form-step-list {
  width: 96%;
  margin: 0 auto;
  margin-top: 30px;
}

.project-form-step {
  list-style: none;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
  height: 150px;
  margin-top: 20px;
  display: flex;
  border: 1px solid #ddd;
}

.project-form-step-images {
  margin-top: 10px;
  align-self: center;
  background-color: white;
  margin-left: 15px;
  font-size: 22px;
  color: #AAA;
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  border: 1px solid #dedede;
  position: relative;
  right: 5px;
  form {
    &:hover {
      cursor: pointer;
    }
  }
  input {
    z-index: 2;
    opacity: 0;
    position: relative;
    padding: 50px 150px;
    top: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.preview-step-image {
  min-width: 100px;
  min-height: 100px;
  max-width: 120px;
  max-height: 120px;
  align-self: center;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.preview-step-image-list {
  display: flex;
  max-height: 0;
  margin: 10px 5px 8px 10px;
  align-items: center;
  position: relative;
  top: 57px;
}

.step-icon {
  font-size: 25px;
  position: relative;
  z-index: 1;
  left: 142px;
  top: 55px;
  &:hover {
    cursor: pointer;
  }
}

.project-form-step-link {
  text-decoration: none;
  padding: 70px 26px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-right: 50px;
  width: 300px;
}

.project-form-steps-add-button {
  background-color: #F6F6F6;
  border-radius: 4px;
  padding: 13px 20px;
  font-size: 18px;
  margin: 15px auto;
  display: block;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #EEEEEE;
    cursor: pointer;
  }
}

.project-form-modal-wrapper {
  margin-left: 500px;
}

.project-form-modal-container {
  max-height: 350px;
  width: 455px;
  background: white;
  height: 410px;
  z-index: 5;
  border-radius: 6px;
  opacity: 1;
  overflow: hidden;
  box-shadow: 1px 3px 7px rgba(0,0,0,0.3);
  transition: opacity .3s linear,top .3s ease-out;
  position: fixed;
  z-index: 2500;
  top: 20%;
  img {
    width: 100%;
  }
}

.project-form-modal-form {
  margin: 0 auto;
}

.project-form-modal-input {
  margin: 32px 42px;
  padding: 10px;
  border: 0;
  border-bottom: solid 1px #c9c9c9;
  transition: border .3s;
  border-radius: 0;
  font-size: 18px;
  width: 350px;
  color: #aaa;
  &:focus {
    border-bottom: solid 1px #969696;
    box-shadow: none;
    outline: none;
  }
}

.project-form-modal-button {
  background-color: #4165A5;
  border-radius: 5px;
  height: 44px;
  border: none;
  font-size: 20px;
  line-height: 5px;
  color: white;
  margin: 0 98px;
  margin-bottom: 20px;
  width: 256px;
  &:hover {
    cursor: pointer;
    background-color: #3a5a92;
  }
}
