.projects-wrapper {
  margin-left: 5px;
  width: 100%;
  background-color: #BFBFBF;
}

.project-index-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px;
  padding: 0 140px;
  margin: 0 auto;
}

.project-index-item-container {
  margin-top: 30px;
  margin-right: 25px;
  width: 305px;
  border: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.project-index-item-link {
  width: 303px;
  height: 255px;
  background-color: #000066;
}

.project-index-item-info {
  box-sizing: border-box;
  padding: 15px;
  background-color: #E6E6E6;
  width: 100%;
}

.project-index-item-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.project-index-item-by-author {

}

.project-index-item-author {
  font-size: 14px;

}
