.project-form-wrapper{
  background-color: #BFBFBF;
  padding-top: 50px;
}
.project-form-container {
  width: 1016px;
  margin: 0 auto;
  border: 1px solid rgba(119,130,135,.4);
  border-radius: 10px;
}

.project-form-navbar {
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding-bottom: 10px;
}

.project-form-navbar-attachment {
  height: 137px;
  text-align: center;
  border: 1px solid #dedede;
  width: 98%;
  margin: 10px;
  cursor: pointer;
  background-color: #eee;
  color: #AAA;
  font-size: 20px;
  box-shadow: inset 0 0 3px 3px #dfdfdf;
  border-radius: 10px;
  &:focus{
    outline: none;
  }
}
.plus-icon{
  font-size: 40px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.project-form-navbar-buttons-menu {
  height: 45px;
  justify-content: space-between;
  display: flex;
  margin: 0px 13px;
}

.caret {
  margin-top: 5px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.project-form-navbar-button {
  border-radius: 4px;
  padding: 10px 20px;
  &:focus {
    outline: none;
  }
  &:hover{
    cursor: pointer;

  }
}
