.project-show-container {
  background-color: #BFBFBF;
  height: 750px;
}

.project-show-container {
  padding: 70px 100px;
}

.project-show-navbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px;
  background-color: #E6E6E6;
  display: flex;
  align-items: center;
  h1 {
    font-size: 20px;

  }
}
