.session-outer-wrapper {
  background-color: #bfbfbf;
  padding: 40px;
}

.session-wrapper {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.session-header-container {
  background-color: #F6F6F6;
  width: 100%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0;
}

.session-header {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 36px;
  font-weight: 400;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
}

.session-page {
  height: 850px;
  background-image: url("https://i.imgur.com/8NpPwFV.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.session-form-column {
  display: flex;
  flex-direction: column;
  margin-top: -200px;
}

.login-form-column {
  margin-top: -250px;
}

.session-form-container {
  width: 325px;
  box-shadow: 1px -1px 8px 0px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  margin: 200px 25px;
}

.session-form-divider {
  font-size: 18px;
  text-align: center;
  color: #545454;
  display: flex;
  p {
    margin: 0;
    margin-bottom: 15px;
  }
  justify-content: space-between;
}

.left-divider {
  width: 135px;
  margin: 10px 10px 10px 35px;
  border-top: 1px solid #545454;
}

.right-divider {
  width: 135px;
  margin: 10px 35px 10px 10px;
  border-top: 1px solid #545454;
}

.session-error-container {
  width: 305px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 9px;
  box-sizing: border-box;
  list-style: none;
  color: red;
  font-weight: 500;
  text-align: center;
}


.login-form-box {
  width: 325px;
  display: flex;
  flex-direction: column;
}

.session-form-input{
  margin: auto;
  width: 250px;
  height: 28px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  padding-left: 5px;
  &:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  }
}

.session-form-submit-button {
  background-color: #4165A5;
  border-radius: 5px;
  height: 44px;
  border: none;
  font-size: 20px;
  line-height: 5px;
  color: white;
  margin: 0 35px;
  margin-bottom: 20px;
  width: 256px;
}

.session-form-submit-button:hover {
  cursor: pointer;
  background-color: #3a5a92;
}

.session-form-submit-demo {
  background-color: #31b0d5;
  border-radius: 5px;
  height: 44px;
  border: none;
  font-size: 20px;
  line-height: 5px;
  color: white;
  margin: 20px 35px;
  width: 256px;
  &:hover {
    cursor: pointer;
    background-color: #2b9fc2;
  }
}

.session-form-footer {

  width: 325px;
  padding: 15px 40px;
  background-color: #cccccc;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  bottom: 200px;
  left: 25px;

  a {
    font-family: serif;
    text-decoration: none;
    color: #545454;
  }
  a:hover {
    text-decoration: underline;
  }
}

.welcome-form-container {
  text-align: center;
  width: 400px;
  color: #e6e6e6;
  font-size: 35px;
  font-weight: bold;
  margin: -130px -25px 200px -25px;

}

.welcome-form-container {
  font-family: 'Rubik', sans-serif;
}
